Flask>=2.0
python-dotenv
psycopg2-binary
groq
gunicorn
pandas
numpy

xhtml2pdf==0.2.11
reportlab==3.6.12
svglib==1.5.1

Werkzeug==2.2.3
Jinja2==3.1.2
pillow==9.5.0
openpyxl
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client