Flask>=2.0
python-dotenv
psycopg2-binary
groq
gunicorn
pandas
numpy

playwright==1.40.0

Werkzeug==2.2.3
Jinja2==3.1.2
pillow==9.5.0
openpyxl
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client