{ L: "Build kitchen cabinets", N: "Refinance a mortgage" },
{ A: "Sing in a concert", R: "Direct the takeoff/landing of planes" },
{ G: "Operate a cash register", B: "Collect rocks" },
{ G: "Start a business", L: "Draft a blueprint" },
{ M: "Assess student progress", L: "Design an airplane" },
{ O: "Wrap a sprained ankle", I: "Guide an international tour group" },
{ P: "Solve technical problems", J: "Provide spiritual guidance to others" }, 
{ Q: "Manage a veterinary clinic", K: "Lead others" },
{ E: "Operate heavy equipment", Q: "Manage a fish hatchery" },
{ F: "Assemble cars", K: "Protect our borders" },
{ A: "Play an instrument", J: "Plan activities for adult day care" },
{ C: "Research soybean use in paint", J: "Provide consumer information" },
{ D: "Guard money in an armored car", B: "Study human behavior" },
{ E: "Fix a television set", M: "Run a school" },
{ F: "Fix a control panel", J: "Help friends with personal problems" },
{ C: "Oversee a logging crew", B: "Study weather conditions" },
{ R: "Pack boxes at a warehouse", A: "Teach dancing" },
{ O: "Sterilize surgical instruments", B: "Study soil conditions" },
{ N: "Play the stock market", C: "Protect the environment" },
{ R: "Inspect cargo containers", F: "Work in a cannery" },
{ I: "Coach a school sports team", P: "Update a website" },
{ Q: "Hunt", K: "Enlist in a branch of the military" }, 
{ H: "Sell sporting goods", J: "Cut and style hair"  },
{ B: "Experiment to find new metals", N: "Work in a bank" },
{ G: "Work with computer programs", N: "Loan money"  },
{ L: "Hang wallpaper", D: "Make an arrest" },
{ O: "Deliver babies", H: "Persuade people to buy something" }, 
{ H: "Stock shelves", I: "Serve concession stand drinks" }


,
    [
      { key: "E", text: "Build an airport" },
      { key: "G", text: "keep company business records" }
    ],
    [
      { key: "F", text: "Put together small tools" },
      { key: "P", text: "Design a website" }
    ],
    [
      { key: "M", text: "Tutor students" },
      { key: "Q", text: "Works at zoo" }
    ],
    [
      { key: "J", text: "Take care of children" },
      { key: "O", text: "Plan special diets" }
    ],
    [
      { key: "A", text: "Choreograph a dance" },
      { key: "K", text: "Lobby or show support for a cause" }
    ],
    [
      { key: "H", text: "Sell cloths" },
      { key: "E", text: "Work with your hands" }
    ],
    [
      { key: "I", text: "Work at an amusement park" },
      { key: "N", text: "Sell insurance" }
    ],
    [
      { key: "I", text: "Learn about ethnic groups" },
      { key: "P", text: "Manage an information system" }
    ],
    [
      { key: "N", text: "Appraise the value of a house" },
      { key: "M", text: "File books at the library" }
    ],
    [
      { key: "M", text: "Grade papers" },
      { key: "R", text: "Operate a train" }
    ],
    [
      { key: "L", text: "Order building supplies" },
      { key: "E", text: "Paint motors" }
    ],
    [
      { key: "P", text: "Develop new computer games" },
      { key: "H", text: "Buy merchandise for a store" }
    ],
    [
      { key: "K", text: "Work to get someone elected" },
      { key: "C", text: "Identify plants in a forest" }
    ],
    [
      { key: "D", text: "Guard inmates in a prison" },
      { key: "L", text: "Read blueprints" }
    ],
    [
      { key: "H", text: "Line up concerts for a band" },
      { key: "K", text: "Ask people survey questions" }
    ],
    [
      { key: "E", text: "Manage a factory" },
      { key: "O", text: "Work as a nurse in a hospital" }
    ],
    [
      { key: "A", text: "Paint a portrait" },
      { key: "K", text: "Testify before Congress" }
    ],
    [
      { key: "B", text: "Work with a microscope" },
      { key: "I", text: "Schedule tee times at a golf course" }
    ],
    [
      { key: "C", text: "Classify plants" },
      { key: "O", text: "Transcribe medical records" }
    ],
    [
      { key: "E", text: "Make three-dimensional items" },
      { key: "D", text: "Analyze handwriting" }
    ],
    [
      { key: "B", text: "Design indoor sprinkler systems" },
      { key: "F", text: "Run a factory sewing machine" }
    ],
    [
      { key: "G", text: "Develop personnel policies" },
      { key: "Q", text: "Train racehorses" }
    ],
    [
      { key: "D", text: "Guard an office building" },
      { key: "H", text: "Run a department store" }
    ],
    [
      { key: "A", text: "Write for a newspaper" },
      { key: "G", text: "Use a calculator" }
    ],
    [
      { key: "O", text: "Help people at a mental health clinic" },
      { key: "L", text: "Remodel old houses" }
    ],
    [
      { key: "M", text: "Care for young children" },
      { key: "D", text: "Locate a missing person" }
    ],
    [
      { key: "N", text: "Plan estate disbursements/payments" },
      { key: "P", text: "Enter data" }
    ],
    [
      { key: "A", text: "Design a book cover" },
      { key: "E", text: "Build toys with written instructions" }
    ],
    [
      { key: "B", text: "Figure out why someone is sick" },
      { key: "R", text: "Fly an airplane" }
    ],
    [
      { key: "C", text: "Learn how things grow and stay alive" },
      { key: "H", text: "Sell cars" }
    ],
    [
      { key: "I", text: "Work as a restaurant host or hostess" },
      { key: "D", text: "Fight fires" }
    ],
    [
      { key: "G", text: "Keep payroll records for a company" },
      { key: "J", text: "Work in a nursing home" }
    ],
    [
      { key: "G", text: "Hire new staff" },
      { key: "O", text: "Run ventilators/breathing machines" }
    ],
    [
      { key: "R", text: "Drive a taxi" },
      { key: "A", text: "Broadcast the news" }
    ],
    [
      { key: "K", text: "Audit taxes for the government" },
      { key: "B", text: "Sort and date dinosaur bones" }
    ],
    [
      { key: "O", text: "Give shots" },
      { key: "C", text: "Design landscaping" }
    ],
    [
      { key: "P", text: "Give tech support to computer users" },
      { key: "D", text: "Work in a courtroom" }
    ],
    [
      { key: "Q", text: "Care for injured animals" },
      { key: "I", text: "Serve meals to customers" }
    ],
    [
      { key: "F", text: "Install rivets" },
      { key: "Q", text: "Raise worms" }
    ],
    [
      { key: "N", text: "Balance accounts" },
      { key: "M", text: "Develop learning games" }
    ],
    [
      { key: "J", text: "Read to sick people" },
      { key: "P", text: "Repair computers" }
    ],
    [
      { key: "F", text: "Compare sizes and shapes of objects" },
      { key: "Q", text: "Fish" }
    ],
    [
      { key: "R", text: "Repair bicycles" },
      { key: "K", text: "Deliver mail" }
    ],
    [
      { key: "M", text: "Teach Special Education" },
      { key: "P", text: "Set up a tracking system" }
    ],
    [
      { key: "G", text: "Manage a store" },
      { key: "H", text: "Advertise goods and services" }
    ],
    [
      { key: "R", text: "Distribute supplies to dentists" },
      { key: "I", text: "Compete in a sports event" }
    ],
    [
      { key: "I", text: "Check guests into a hotel" },
      { key: "M", text: "Teach adults to read" }
    ],
    [
      { key: "L", text: "Follow step-by-step instructions" },
      { key: "N", text: "Collect past due bills" }
    ],
    [
      { key: "L", text: "Build kitchen cabinets" },
      { key: "N", text: "Refinance a mortgage" }
    ],
    [
      { key: "A", text: "Sing in a concert" },
      { key: "R", text: "Direct the takeoff/landing of planes" }
    ],
    [
      { key: "G", text: "Operate a cash register" },
      { key: "B", text: "Collect rocks" }
    ],
    [
      { key: "G", text: "Start a business" },
      { key: "L", text: "Draft a blueprint" }
    ],
    [
      { key: "M", text: "Assess student progress" },
      { key: "L", text: "Design an airplane" }
    ],
    [
      { key: "O", text: "Wrap a sprained ankle" },
      { key: "I", text: "Guide an international tour group" }
    ],
    [
      { key: "P", text: "Solve technical problems" },
      { key: "J", text: "Provide spiritual guidance to others" }
    ],
    [
      { key: "Q", text: "Manage a veterinary clinic" },
      { key: "K", text: "Lead others" }
    ],
    [
      { key: "E", text: "Operate heavy equipment" },
      { key: "Q", text: "Manage a fish hatchery" }
    ],
    [
      { key: "F", text: "Assemble cars" },
      { key: "K", text: "Protect our borders" }
    ],
    [
      { key: "A", text: "Play an instrument" },
      { key: "J", text: "Plan activities for adult day care" }
    ],
    [
      { key: "C", text: "Research soybean use in paint" },
      { key: "J", text: "Provide consumer information" }
    ],
    [
      { key: "D", text: "Guard money in an armored car" },
      { key: "B", text: "Study human behavior" }
    ],
    [
      { key: "E", text: "Fix a television set" },
      { key: "M", text: "Run a school" }
    ],
    [
      { key: "F", text: "Fix a control panel" },
      { key: "J", text: "Help friends with personal problems" }
    ],
    [
      { key: "C", text: "Oversee a logging crew" },
      { key: "B", text: "Study weather conditions" }
    ],
    [
      { key: "R", text: "Pack boxes at a warehouse" },
      { key: "A", text: "Teach dancing" }
    ],
    [
      { key: "O", text: "Sterilize surgical instruments" },
      { key: "B", text: "Study soil conditions" }
    ],
    [
      { key: "N", text: "Play the stock market" },
      { key: "C", text: "Protect the environment" }
    ],
    [
      { key: "R", text: "Inspect cargo containers" },
      { key: "F", text: "Work in a cannery" }
    ],
    [
      { key: "I", text: "Coach a school sports team" },
      { key: "P", text: "Update a website" }
    ],
    [
      { key: "Q", text: "Hunt" },
      { key: "K", text: "Enlist in a branch of the military" }
    ],
    [
      { key: "H", text: "Sell sporting goods" },
      { key: "J", text: "Cut and style hair" }
    ],
    [
      { key: "B", text: "Experiment to find new metals" },
      { key: "N", text: "Work in a bank" }
    ],
    [
      { key: "G", text: "Work with computer programs" },
      { key: "N", text: "Loan money" }
    ],
    [
      { key: "L", text: "Hang wallpaper" },
      { key: "D", text: "Make an arrest" }
    ],
    [
      { key: "O", text: "Deliver babies" },
      { key: "H", text: "Persuade people to buy something" }
    ],
    [
      { key: "H", text: "Stock shelves" },
      { key: "I", text: "Serve concession stand drinks" }
    ]




